*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:90%;
	margin:0 auto;
} 
.flex-container{
	display:flex;
	flex-wrap:wrap;
	margin-left:-15px;
	margin-right:-15px;
	padding:0 15px;
}
.flex-item-1{
	width:8.33%;
	flex:0 0 auto;
	padding:0 15px;
}
.flex-item-2{
	width:16.66%;
	flex:0 0 auto;
	padding:0 15px;
}
.flex-item-3{
	width:25%;
	flex:0 0 auto;
	padding:0 15px;
}
.flex-item-4{
	width:33.33%;
	flex:0 0 auto;
	padding:0 15px;
}
.flex-item-5{
	width:41.66%;
	flex:0 0 auto;
	padding:0 15px;
}
.flex-item-6{
	width:50%;
	flex:0 0 auto;
	padding:0 15px;
}
.flex-item-7{
	width:58.33%;
	flex:0 0 auto;
	padding:0 15px;
}
.flex-item-8{
	width:66.66%;
	flex:0 0 auto;
	padding:0 15px;
}
.flex-item-9{
	width:75%;
	flex:0 0 auto;
	padding:0 15px;
}
.flex-item-10{
	width:83.33%;
	flex:0 0 auto;
	padding:0 15px;
}
.flex-item-11{
	width:91.66%;
	flex:0 0 auto;
	padding:0 15px;
}
.flex-item-12{
	width:100%;
	flex:0 0 auto;
	padding:0 15px;
}
/*----header style----*/
.header{
	padding:10px 0;
	position:fixed;
	width:100%;
	background-color:#fff; 
	z-index:3;
}
.align-center{
	align-items:center;
}
.mentor h1 a{
	text-decoration:none;
	color:#5fcf80;
	font-size:40px;
	font-weight:500;
	font-family: 'Poppins', sans-serif;
}
.nav-list .list a{
	text-decoration:none;
	color:black;
	font-size:25px;
	padding:0 30px;
	font-family: 'Poppins', sans-serif;
	font-weight:500;
} 
.nav-list .list a.active{
	color:#5fcf80;
}
.nav-list .list a:hover{
	color:#5fcf80;
}
.nav-list{
	display:flex;
	justify-content:end;
}
.list li{
	list-style:none;
	display:inline;
}

 /* End Header  */
 
/*----banner-----*/
#banner .container {
  padding-top: 72px;
}
#banner{
	background: url("../img/bg_img.png") top center;
	background-size:cover;
	background-attachment:fixed;
	width:100%;
	height:550px;
	padding:200px 0px 150px 0px;
}
#banner h1{
  margin: 0;
  font-size: 48px;
  font-weight:800;
  line-height: 56px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
#banner h2{
  color: #eee;
  margin: 10px 0 0 18px;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}
#banner h3{
  color: #eee;
  margin: 10px 0 0 180px;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}

/* end banner */

/* banner */
#about{
	padding-top:70px;
}
.headings{
	text-align:center;
	background-color:#5fcf80;
	font-size:40px;
	padding:30px;
	color:#fff;
	font-family: "Raleway", sans-serif;
	width:100%;
	/* margin-top:100px; */
}
.img-banner{
	width:100%;
	height:auto;
	margin-top:50px;
}
/*----banner-----*/

/* about */
.about{
	padding:60px 0 0 0;
}
.about-items h3 {
  font-weight:600;
  font-size:22px;
  font-family: 'Poppins', sans-serif;
}
.about-items p{
	font-size:20px;
	padding:10px 0;
	color:rbg(31,28,28);
	font-family: 'Poppins', sans-serif;
	font-weight:400;
	font-size:17px;
	
}
.about-items ul{
	color:;
	list-style:none;
	font-family: 'Poppins', sans-serif;
	font-weight:400;
	font-size:23px;
	
} 
.about-items li i{
	color:#5fcf80;
	font-size:25px;
	padding:3px;
}
/* about */

/* *-------------------------------------------------------------- */
/* # Contact */
/* --------------------------------------------------------------*/ 
.contact {
  padding-top: 70px;
  margin-bottom:30px;
}

.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #5fcf80;
  float: left;
  width: 44px;
  height: 44px;
  background: #ecf9f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37423b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #657a6d;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #5fcf80;
  color: #fff;
}

/*  */

/* address */

.address-bar{
	background-color:#eef0ef;
	padding:50px 0px;
}
.address{
	line-height:24px;
}
.address h1{
	margin-bottom:15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
    font-size: 36px;
	color:#37423b;
}
.address .add{
	margin-top:20px;
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	color:#777777;
}
.con{
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	margin-top:30px;
	color:#777777;
}
.address2 h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
    font-size: 20px;
	padding-bottom:15px;
	color:#37423b;
}
.address2 i{
	color:#5fcf80;
	font-weight:200;
	font-size:10px;
}
.address2 a{
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	margin-top:18px;
	line-height:40px;
	color:#777777;
}
.address2 p:hover{
	color:#5fcf80;
}
.address2 a{
	text-decoration:none;
	color:#37423b;
	font-size:16px;
	font-weight:300;
}
.address2 .pargp:hover{
	color:#37423b;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.foot{
	padding-top: 15px;
    align-items: center;
    justify-content: space-between;
	text-align:center;
}
.foot h1{
	margin-left:15px;
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	font-weight:600;
	color:#5a6c60;;
}
.foot .fa{
	font-weight:500;
	color:#5a6c60;;
}
.foot .fa-user-o{
	margin-left:110px;
}
.lana{
	margin-right:25px;
}
.foot .fa-heart-o{
	margin-left:20px;
}
.foot h2{
	font-family: 'Poppins', sans-serif;
	font-size:18px;
	font-weight:600;
	color:#5a6c60;
	margin-left:5px;
}
.footer{
	background-color:#adb5bd6e;
	padding:30px 0px;
}
.icons{
	text-align: center;
}
.icons i{
	font-size:20px;
	margin:0px 20px;
	color:white;
	background-color:#5fcf80;
	width:40px;
	height:40px;
	padding:10px;
	border-radius:50%;
}
.sub{
	color:white;
	border:1px solid gray;
	width:100%;
	background-color:#5fcf80;
	padding:20px 30px;
	border-radius:30px;
}

/*----------------  Responsive --------------------- */

@media (max-width:980px){
	.headtop{
		width:100%;
	flex:0 0 auto;
	padding:0 15px;
	}
	.headtoptwo{
		width:100%;
	flex:0 0 auto;
	padding:0 15px;
	text-align:center;
	}
	.nav-list{
	display:flex;
	justify-content:center;
}
	.mentor h1 a{
	text-decoration:none;
	color:#5fcf80;
	font-size:45px;
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	/* width:100%; */
}
	.nav-list .list a{
	text-decoration:none;
	color:black;
	font-size:20px;
	padding:0 10px;
	font-family: 'Poppins', sans-serif;
	font-weight:500;
	
} 
.container{
	width:100%;
	height:auto;
	margin:0 auto;
	text-align:center;
} 
	#banner{
	background: url("../img/bg_img.png") top center;
	background-size:cover;
	background-attachment:fixed;
	width:100%;
	height:640px;
	padding:80px 0px 20px 0px;
	align-items:center;
}
#banner h1{
  margin: 20px 0px 20px 0px;
  font-size: 42px;
  font-weight:800;
  line-height: 46px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
#banner h2{
  color: #eee;
  margin: 150px 0 0 10px;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}
#banner h3{
  color: #eee;
  margin: 40px 0 0 10px;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}
.headings{
	text-align:center;
	background-color:#5fcf80;
	font-size:20px;
	padding:20px;
	color:#fff;
	font-family: "Raleway", sans-serif;
	width:100%;
	/* margin-top:100px; */
}
#about{
	padding-top:70px;
}
.imgcon{
	width:100%;
	flex:0 0 auto;
	padding:0 15px;
}
.imgconteo{
	width:50%;
	flex:0 0 auto;
	padding:0 15px;
}
.address2{
	padding-top:30px;
}
.imagepradect{
	height:auto;
}
.about-items ul{
	list-style:none;
	font-family: 'Poppins', sans-serif;
	font-weight:400;
	font-size:18px;
	text-align:left;
} 
.about{
	padding-top:40px;
}
.info{
	text-align:left;
	padding-bottom:30px;
}

}

